<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @knowledge_group.name %>
</p>

<%= link_to 'Edit', edit_knowledge_group_path(@knowledge_group) %> |
<%= link_to 'Back', knowledge_groups_path %>
